[Unit]
Description=Hourly Deenesse update

[Timer]
Unit=deenesse@%i.service
OnCalendar=hourly
AccuracySec=12h
Persistent=true

[Install]
WantedBy=timers.target
